/* width */
$full : 100%;

/* color */
$mainColor: #1e3a8a;
$mainColorStrong: #162c6b;
$whiteBackground: #e5eaf7; 
$focusBorder: #3f51b5;
$gray: #9ca3af;
$pointColor: #90caf9;
$subWhite: #f7f9fc;
$black : #000;
$white : #fff;

/* font family */
$l : 'fm-light';
$r : 'fm-regular';
$m : 'fm-medium';
$b : 'fm-bold';
