@use '../styles/common.scss' as *;

.todo {
    &-list {
        width: $full;
        border-radius: 5px;
        background-color: $subWhite;
        margin: 30px 0;

        li {
            display: flex;
            flex-flow: row wrap;
            font-size: .9375rem;
            color: $mainColorStrong;
            border-bottom: 1px solid $pointColor;
            padding: 5px 10px;
            box-sizing: border-box;

            &:first-child {
                border-top: 1px solid $pointColor;
            }

            + li {
                margin-top: 5px;
            }
        }

        &__order {
            display: flex;
            flex-flow: row wrap;
            align-self: center;
            width: 4%;

            button {
                cursor: pointer;

                svg {
                    height: 1rem;
                    color: $mainColorStrong;
                }

                &:hover,
                &:active,
                &:focus {
                    svg {
                        color: #2c4b9f;
                    }
                }
            }
        }

        &__btn {
            display: flex;
            flex-flow: row wrap;
            width: 9%;

            button {
                width: 50%;
                cursor: pointer;

                svg {
                    height: 1rem;
                    color: $mainColorStrong;
                }

                &:hover,
                &:active,
                &:focus {
                    svg {
                        color: #2c4b9f;
                    }
                }
            }
        }
    }
}

/* mobile */
@media (max-width: 800px) {
    .todo {
        width: $full;

        &-list {
            li {
                padding: 5px;
            }

            &__order {
                width: 6%;
    
                button {
                    svg {
                        height: .875rem;
                    }
                }
            }
    
            &__btn {
                width: 15%;
    
                button {
                    svg {
                        height: .875rem;
                    }
                }
            }
        }
    }
}
