@use './styles/common.scss' as *;

.wrap {
    width: 100%;
    overflow: hidden;
}

.todo {
    width: 800px;
    border-radius: 5px;
    background-color: $subWhite;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;

    &-content {
        width: $full;
        padding: 0 50px;
        box-sizing: border-box;
    }

    &-title {
        font-size: 1.375rem;
        font-weight: 700;
        text-align: center;
    }

    &-today {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 30px;

        button {
            align-self: center;
            cursor: pointer;

            svg {
                height: 1rem;
                vertical-align: middle;
                color: $mainColorStrong;
            }
        }

        .today {
            display: flex;
            align-self: center;
            margin: 0 50px;

            &-txt {
                font-size: 1rem;
                // align-self: center;
            }

            &-btn {
                align-self: center;
                font-size: .8125rem;
                color: $mainColor;
                line-height: 1.5;
                border: 1px solid $mainColor;
                border-radius: 5px;
                margin-left: 8px;
                padding: 2px 5px;
                box-sizing: border-box;
                transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;

                &:disabled {
                    background-color: #f0f0f0;
                    border-color: #f0f0f0;
                    color: $gray;
                    cursor: default;
                    pointer-events: none;
                }

                &:hover,
                &:focus,
                &:active {
                    background-color: $mainColor;
                    color: $white;
                }
            }
        }
    }
}

/* mobile */
@media (max-width: 800px) {
    .todo {
        width: $full;

        &-content {
            width: $full;
            padding: 0 20px;
        }
    
    }
}
